<!-- Contenedor principal -->
<div class="container">
  <!-- Barra de herramientas -->
  <mat-toolbar>
    <!-- Grupo de botones a la izquierda -->
    <div class="left-group">
      <!-- Botón para ir a la sección de envíos -->
      <button (click)="goToEnvios()" mat-button class="user-button vista custom-focus-indicator" *ngIf="!isCurrentRoute('/create-user') && !isCurrentRoute('/list-users')">Envios</button>
      <!-- Botón para ir a la vista previa -->
      <button (click)="goToVistaPrevia()" mat-button class="user-button vista custom-focus-indicator" *ngIf="!isCurrentRoute('/create-user') && !isCurrentRoute('/list-users')">Vista Previa</button>
      <!-- Botón para ir a la vista previa -->
      <button (click)="goToLogin()" mat-button class="user-button vista custom-focus-indicator" *ngIf="!isCurrentRoute('/create-user') && !isCurrentRoute('/list-users')">login</button>

      <!-- Botón para ir a la sección de listar usuarios -->
      <button (click)="goToListUsers()" mat-button class="administrator-button vista custom-focus-indicator" *ngIf="isCurrentRoute('/create-user') || isCurrentRoute('/list-users')">Usuarios</button>

      <!-- Botón para ir a la sección de pedidos -->
      <button (click)="goToListUsers()" mat-button class="administrator-button vista custom-focus-indicator" *ngIf="isCurrentRoute('/create-user') || isCurrentRoute('/list-users')">Pedidos</button>

      <!-- Botón para ir a la sección de clientes -->
      <button (click)="goToListUsers()" mat-button class="administrator-button vista custom-focus-indicator" *ngIf="isCurrentRoute('/create-user') || isCurrentRoute('/list-users')">Clientes</button>

    </div>
    <!-- Título de la barra de herramientas -->
    <span class="toolbar-title">POLI-ENVIOS</span>
    <!-- Grupo de botones a la derecha -->
    <div class="right-group">
      <!-- Botón de usuario con icono de login -->
      <button mat-button class="user-button vista" *ngIf="!isCurrentRoute('/create-user') && !isCurrentRoute('/list-users')">
        <mat-icon style="color: white;">login</mat-icon>
        Usuario cliente
      </button>

      <div *ngIf="isCurrentRoute('/create-user') || isCurrentRoute('/list-users')">
        <h3 style="color: #ff5e0f; font-weight:500;">Administrador</h3>
      </div>

    </div>
  </mat-toolbar>
</div>
<!-- Punto de inserción para las rutas -->
<router-outlet></router-outlet>
