<!-- Contenedor principal -->
<div class="container">
  <!-- Barra de herramientas -->
  <mat-toolbar>
    <!-- Grupo de botones a la izquierda -->
    <div class="left-group">
      <!-- Botón para ir a la sección de envíos -->
      <button (click)="goToEnvios()" mat-button class="user-button vista custom-focus-indicator">Envios</button>
      <!-- Botón para ir a la vista previa -->
      <button (click)="goToVistaPrevia()" mat-button class="user-button vista custom-focus-indicator">Vista Previa</button>
      <!-- Botón para ir a la vista previa -->
      
    </div>
    <!-- Título de la barra de herramientas -->
    <span class="toolbar-title">POLI-ENVIOS</span>
    <!-- Grupo de botones a la derecha -->
    <div class="right-group">
      <!-- Botón de usuario con icono de login -->
      <button (click)="goToLogin()" mat-button class="user-button vista custom-focus-indicator">login</button>
      <button (click)="goToLogin()" mat-button class="user-button vista">
        <mat-icon style="color: white;">login</mat-icon>
        Usuario cliente
      </button>
    </div>
  </mat-toolbar>
</div>
<!-- Punto de inserción para las rutas -->
<router-outlet></router-outlet>
