.container-principal {
  height: 70vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.formulario{
  margin-top: 10%;
}

.row {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

#bienvenida {
  text-align: center;
}

#img_login {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

#form_login {
  padding: 20px;
  border-radius: 10px;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #449dbb;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 8pt;
}

button:hover {
  background-color: #0069d9;
}

form button:hover {
  background-color: #0056b3;
}

.footer {
  position: absolute;
  height: 10%;
  bottom: 0;
  background-color: #f1f1f1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.social-icons {
  display: flex;
  justify-content: space-around;
  width: 50%;
}

.social-icons img {
  width: 40px;
  height: 40px;
}

.about-link {
  margin-left: 20px;
}

.about-link a {
  text-decoration: none;
  font-weight: bold;
  color: black;
}

.about-link a:hover {
  text-decoration: underline;
}