<div class="container-principal">
  <div class="row">
    <div class="" id="bienvenida">
      <h1>BIENVENIDO</h1>
      <img id="img_login" [src]="imagePath" alt="Imagen de inicio de sesión">
    </div>
    <div class="col-md-6 formulario" id="form_login">
      <form>
        <input type="email" placeholder="Usuario">
        <input type="password" placeholder="Contraseña">
        <button type="submit">Login</button>
      </form>
    </div>
  </div>

  <div class="footer">
    <div class="social-icons">
      <a href="https://www.instagram.com/" target="_blank">
        <img src="assets/instagram.png" alt="Instagram">
      </a>
      <a href="https://www.twitter.com/" target="_blank">
        <img src="assets/twitter.png" alt="Twitter">
      </a>
      <a href="mailto:info@example.com">
        <img src="assets/email.png" alt="Email">
      </a>
      <a href="https://www.linkedin.com/" target="_blank">
        <img src="assets/Linkedin.png" alt="LinkedIn">
      </a>
      <a href="https://www.share-link.com/" target="_blank">
        <img src="assets/compartir.png" alt="Share">
      </a>
    </div>
    <p (click)="navigateToAcerca()" class="about-link"><a href="#">¿Quienes somos?</a></p>
  </div>

</div>
